*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    display: flex;
    
    align-items:center;
    align-self: center;
    gap: 0px;
    
}



.boton{
    justify-content: center;
    margin: 1px;
    background-image: url(../img/hechohumo.jpg);
    background-size: cover;
    color: #F9C200;
    font-size:x-small;
    font-family:cursive;
    height: 70px;
    width: 70px;

}
h1{
    color: #F9C200;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    background-image: url(../img/hechohumo.jpg);
    background-size: 100%;
    align-content: center;
    text-align: center;
    color: aliceblue;
}
.boton :hover{
    color: #F9C200;
    

}
.img{
    width: 70px;
    height: 70px;
}

.contador{
    border-radius: 50px;
    width: 10px;
    height: 25px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #F9C200;
    border-color: #F9C200;
    background-color: #000000;
}

.lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: dimgrey;
    border-style: inset;
    background-image: url();
    background-size: contain;
    margin-bottom: 30px;
    color: aliceblue;
}

.Dlista{
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-color: dimgrey;
    border-style: inset;
    background-image: url();
    background-size: contain;
    margin-bottom: 30px;
    color: aliceblue;
    align-items: center;
}

.botoncarrito{
    background-color: #000000;
    justify-content: center;
    align-items: center;
    color: #F9C200; 
    border-Radius: 50px; 
    border-color: #F9C200;
}

.botoncarritoF{
    background-color: #000000;
    justify-content: center;
    align-items: center;
    color: red; 
    border-Radius: 50px; 
    border-color: red;
}

.cargando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: aliceblue;
}

.carrito{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-color: dimgrey;
    border-style: inset;
}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
    border-color: #F9C200;
}

.Lcheckout{
    margin: 15px;
    list-style: none;
    border-color: brown;
    border-style: groove;
    
}