*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    display: flex;
    
    align-items:center;
    align-self: center;
    gap: 0px;
    
}



.boton{
    justify-content: center;
    margin: 1px;
    background-image: url(../img/hechohumo.jpg);
    background-size: contain;
    color: #F9C200;
    font-size:x-small;
    font-family:cursive;
    height: 80px;
    width: 80px;

}
h1{
    color: #F9C200;
}
body{
    
    justify-content: center;
    background-color: rgb(22, 22, 22);
    background-image: url(../img/hechohumo.jpg);
    background-size: contain;
    align-content: center;
    text-align: center;
    
    color: aliceblue;
}
.boton :hover{
    color: #F9C200;
;
    

}
.img{
    width: 80px;
    height: 80px;
}

